In [1]:
import pandas as pd
import xgboost as xg 
import numpy as np 
from sklearn.model_selection import train_test_split

In [2]:
file_path = 'Crop_recommendation.csv'

data = pd.read_csv(file_path)
data.dropna()

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
1692  117  86  48    28.695620  82.541958  6.225225  116.161684  banana
1693  114  94  53    26.335449  76.853201  6.190757  118.685826  banana
1694  110  78  50    25.937302  78.898644  5.915569   98.217475  banana
1695   94  70  48    25.136865  84.883944  6.195152   91.464425  banana
1696   80  71  47    27.505277  80.797840  6.156373  105.077699  banana

[1697 rows x 8 columns]

In [7]:
data.info()

print('Coolumns')
print(data.columns)

print('')
print(data['label'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            1697 non-null   int64
 1   P            1697 non-null   int64
 2   K            1697 non-null   int64
 3   temperature  1697 non-null   float64
 4   humidity     1697 non-null   float64
 5   ph           1697 non-null   float64
 6   rainfall     1697 non-null   float64
 7   label        1697 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 106.2+ KB
Coolumns
Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

label
rice          139
Soyabeans     130
banana        130
beans         125
cowpeas       122
orange        122
maize         119
coffee        110
peas          100
groundnuts    100
mango         100
grapes        100
watermelon    100
apple         100
cotton        100
Name: count, dtype: int64

In [4]:
x = data.drop(columns=['label'])
y = data['label']

print(x.shape)
print(y.shape)

(1697, 7)
(1697,)

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=17)

crop_model = xg.XGBClassifier(
    operation='multi:softmax',
    n_estimators=100,
    max_depth=5,
    learning_rate=0.1,
    random_state=10,
    booster='gbtree'
)

In [ ]:
crop_model.fit(x_train, y_train)